.ataraxia-primary{
    color: #2A2A2A;
}

.ataraxia-secondary {
    color: #F3F3F3;
}

.ataraxia-tertriary {
    color: #D5D5D5;
}

.ataraxia-text-color {
    color: #2A2A2A;
}

.ataraxia-logo {
    font-family: 'GFS Didot', 'Times New Roman', serif;

}

#cue-entry:hover {
    color: #AD6AEA;
    -webkit-transition: all .35s ease 0s;
    -moz-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s;
}

.ataraxia-logo-inline {
    font-family: 'GFS Didot';
    font-weight: 700;
}

.beta {
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 100;
}
