.ataraxia-primary{
    color: #2A2A2A;
}

.ataraxia-secondary {
    color: #F3F3F3;
}

.ataraxia-tertriary {
    color: #D5D5D5;
}

.ataraxia-text-color {
    color: #2A2A2A;
}

.ataraxia-logo {
    font-family: 'GFS Didot', 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
}

.logo-medium {
    font-size: 72px;
    margin-top: 48px;
}

.logo-large {
    font-size: 144px;
    margin-top: 48px;
}

#cue-entry:hover {
    color: #AD6AEA;
    -webkit-transition: all .35s ease 0s;
    -moz-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s;
}

.ataraxia-logo-inline {
    font-family: 'GFS Didot';
    font-weight: 700;
}

.beta {
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 100;
}

/* .index */


/* .contact */
#contact-links {
    list-style: none;
    font-family: 'Helvetica';
    font-size: 36px;
    width: 200px;
    text-align: left;
    margin-left: 30px;
}

#contact-links li {
    list-style: none;
    display: inline;
}

#contact-links ul li a {
    text-decoration: none;
    display: block;
    color: #D5D5D5;
    font-style: normal;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

#contact-links ul li a:hover {
    text-decoration: none;
    color: #2A2A2A;
    font-style: normal;
}

#contact-links ul li#twitter a:hover {
    color: #00ACED;
}

#contact-links ul li#linkedin a:hover {
    color: #007bb6;
}


