#top-container {
	display: flex;
	width: 100%;
	height: 48px;
	flex: 0 1 auto;
}

#logo-container {
	display: flex;
	flex: 0 1 auto;
	width: 100%;
}

#mid-container {
	display: flex;
    flex: 0 1 auto;
}

#body-container {
	display: flex;
	flex-flow: column wrap;

}

#bottom-container {
	flex: auto;
	display: flex;
}

.nav-horizontal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.nav-horizontal-left-item {
	display: inline-flex;
	font-size: 1.85em;
}

.nav-horizontal-right-item {
	display: inline-flex;
	font-size: 1.6em;
}

.nav-vertical {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.simple-link-button {
	font-weight: 600;
    font-family: 'Helvetica';
    padding: 4px 8px;
    text-decoration: none;
    font-style: none;
    color: #D5D5D5;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14vw;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}


.contact-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-links-item {
	display: flex;
	flex: 0 1 20%;
	justify-content: flex-start;
	font-family: 'Helvetica', serif;
	text-decoration: none;
    font-style: normal;
    color: #d5d5d5;
    font-size: 4em;
    font-weight: 600;
    width: 480px;
    padding: 4px 8px;
    margin: 12px 8px 12px 0px;
    text-overflow: ellipsis;

}

