{# templates/contact.html #}
{% extends "base.html" %}

{% block links %}
<!-- Google Fonts -->
<style>@import url('https://fonts.googleapis.com/css?family=Cardo|GFS+Didot');</style>
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='ataraxia.css') }}"/>
{% endblock %}

{% block top %}
<div class="nav-horizontal">
	{% for item in nav.start %}
		<div class="nav-horizontal-left-item"><a href="{{ item.url }}"><h1 class="simple-link-button">{{ item.label }}</h1></a></div>
	{% endfor %}
</div>

<div class="nav-horizontal-right">
	{% for item in nav.end %}
		<div class="nav-horizontal-right-item"><a href="{{ item.url }}"><h1 class="simple-link-button">{{ item.label }}</h1></a></div>
	{% endfor %}
</div>
{% endblock %}

{% block logo %}
{% endblock %}

{% block mid %}
{% endblock %}

{% block body %}
	<div class="contact-links">
	{% for link in links %}
		<div><a class="contact-links-item" href="{{ link._get_url() }}"><h1>{{ link._get_label() }}</h1></a></div>
	{% endfor %}
	</div>
{% endblock %}

{% block bottom %}
{% endblock %}

{% block scripts %}
{% endblock %}
