appdirs==1.4.3
beautifulsoup4==4.5.3
click==6.7
django-htmlmin==0.10.0
Flask==0.12
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
six==1.10.0
uWSGI==2.0.14
webencodings==0.5
Werkzeug==0.12.1
